
<div class=" my-12">
    <h1 class=" text-3xl font-bold text-center">RXJS Observables and Operators</h1>
</div>


<div class="grid grid-cols-12 gap-8 mx-10">
    <div class="w-auto h-32 border flex items-center hover:cursor-pointer bg-slate-300 hover:bg-slate-400 justify-center  border-gray-600 sm:col-span-4  md:col-span-2" [routerLink]="['/fromEvent']"  >From Event</div>
    <div class="w-auto h-32 border flex items-center hover:cursor-pointer bg-slate-300 hover:bg-slate-400 justify-center  border-gray-600 sm:col-span-4  md:col-span-2" [routerLink]="['/interval']">Interval & Timer</div>
    <div class="w-auto h-32 border flex items-center hover:cursor-pointer bg-slate-300 hover:bg-slate-400 justify-center  border-gray-600 sm:col-span-4  md:col-span-2" [routerLink]="['/ofAndFrom']" >Of & from</div>
    <div class="w-auto h-32 border flex items-center hover:cursor-pointer bg-slate-300 hover:bg-slate-400 justify-center  border-gray-600 sm:col-span-4  md:col-span-2">a</div>
    <div class="w-auto h-32 border flex items-center hover:cursor-pointer bg-slate-300 hover:bg-slate-400 justify-center  border-gray-600 sm:col-span-4  md:col-span-2">a</div>
    <div class="w-auto h-32 border flex items-center hover:cursor-pointer bg-slate-300 hover:bg-slate-400 justify-center  border-gray-600 sm:col-span-4  md:col-span-2">a</div>
</div>